# **Workshop #1 - Notebook 1: Load of the raw data**

This notebook will focus mainly on loading raw data into a PostgreSQL database. For this we will import the module *connection.py*: this script contains the reading of the environment variables and a function that creates the connection engine using SQLAlchemy. Using this function we will have ready the connection engine that will allow us to perform the data transfer using the Pandas function `pd.Dataframe.to_sql()`.

---

### **Setting the environment**

In [1]:
import os 
print(os.getcwd())

try:
    os.chdir("../../Workshop #1")
except FileNotFoundError:
    print("""
        FileNotFoundError - Puede que el directorio no exista o no estés en la ruta especificada.
        Si ya te funcionó, no ejecutes este bloque de nuevo, ya que el directorio actual es Workshop #1.
        
        Confirma que la ruta en donde te ubicas es la correcta con la siguiente dirección:
        """)

print(os.getcwd())

c:\Users\mitgar14\OneDrive\Escritorio - PC\Ingenieria de Datos e IA - UAO\Semestre 4\ETL\Semana #1 - #6\Workshop #1\notebooks
c:\Users\mitgar14\OneDrive\Escritorio - PC\Ingenieria de Datos e IA - UAO\Semestre 4\ETL\Semana #1 - #6\Workshop #1

### **Importing libraries and modules**

In [2]:
import pandas as pd
from functions.db_connection.connection import creating_engine

from sqlalchemy import text

### **Reading the dataset**

In [3]:
df = pd.read_csv('./data/candidates.csv', sep=';')

In [4]:
df

,First Name,Last Name,Email,Application Date,Country,YOE,Seniority,Technology,Code Challenge Score,Technical Interview Score
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7
...,...,...,...,...,...,...,...,...,...,...
49995,Bethany,Shields,rocky_mitchell@hotmail.com,2022-01-09,Dominican Republic,27,Trainee,Security,2,1
49996,Era,Swaniawski,dolores.roob@hotmail.com,2020-06-02,Morocco,21,Lead,Game Development,1,2
49997,Martin,Lakin,savanah.stracke@gmail.com,2018-12-15,Uganda,20,Trainee,System Administration,6,1
49998,Aliya,Abernathy,vivienne.fritsch@yahoo.com,2020-05-30,Czech Republic,20,Senior,Database Administration,0,0
49999,Coleman,Wisozk,abigayle.crooks@yahoo.com,2022-06-13,Palau,15,Intern,Mulesoft,3,1

### **Transfering the data to the database in PostgreSQL**

In [5]:
engine = creating_engine()

In [6]:
df.to_sql('candidates_raw', engine, if_exists='replace', index=False)

1000

### **Verifying the data transference**

In [7]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM candidates_raw LIMIT 15"))
    for row in result:
        print(row)

('Bernadette', 'Langworth', 'leonard91@yahoo.com', '2021-02-26', 'Norway', 2, 'Intern', 'Data Engineer', 3, 3)
('Camryn', 'Reynolds', 'zelda56@hotmail.com', '2021-09-09', 'Panama', 10, 'Intern', 'Data Engineer', 2, 10)
('Larue', 'Spinka', 'okey_schultz41@gmail.com', '2020-04-14', 'Belarus', 4, 'Mid-Level', 'Client Success', 10, 9)
('Arch', 'Spinka', 'elvera_kulas@yahoo.com', '2020-10-01', 'Eritrea', 25, 'Trainee', 'QA Manual', 7, 1)
('Larue', 'Altenwerth', 'minnie.gislason@gmail.com', '2020-05-20', 'Myanmar', 13, 'Mid-Level', 'Social Media Community Management', 9, 7)
('Alec', 'Abbott', 'juanita_hansen@gmail.com', '2019-08-17', 'Zimbabwe', 8, 'Junior', 'Adobe Experience Manager', 2, 9)
('Allison', 'Jacobs', 'alba_rolfson27@yahoo.com', '2018-05-18', 'Wallis and Futuna', 19, 'Trainee', 'Sales', 2, 9)
('Nya', 'Skiles', 'madisen.zulauf@gmail.com', '2021-12-09', 'Myanmar', 1, 'Lead', 'Mulesoft', 2, 5)
('Mose', 'Lakin', 'dale_murazik@hotmail.com', '2018-03-13', 'Italy', 18, 'Lead', 'Social Media Community Management', 7, 10)
('Terrance', 'Zieme', 'dustin31@hotmail.com', '2022-04-08', 'Timor-Leste', 25, 'Lead', 'DevOps', 2, 0)
('Aiyana', 'Goodwin', 'vallie.damore@yahoo.com', '2019-09-22', 'Armenia', 24, 'Intern', 'Development - CMS Backend', 4, 9)
('Emilia', 'Waelchi', 'peter.grady@gmail.com', '2020-07-15', 'French Southern Territories', 28, 'Lead', 'DevOps', 7, 4)
('Terrell', 'Streich', 'meta92@yahoo.com', '2021-12-27', 'Chad', 3, 'Mid-Level', 'Salesforce', 5, 10)
('Hilda', 'Rodriguez', 'jordan.hyatt@hotmail.com', '2020-05-09', 'El Salvador', 16, 'Junior', 'System Administration', 7, 8)
('Hope', 'Hansen', 'clemmie.bruen@hotmail.com', '2019-10-12', 'Mozambique', 18, 'Architect', 'Security', 4, 1)